<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="myconnectionstring"  providerName="Oracle.ManagedDataAccess.Client" 
			 connectionString="USER ID=SYSTEM;PASSWORD=hamza;DATA SOURCE=localhost:1521/XEPDB1;PERSIST SECURITY INFO=True"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>